<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0;background-color: #333333">
<div style="position: absolute;z-index: 1;top: 5%;right: 11%;color: white">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="on" value="option1" checked>
        <label class="form-check-label" for="on">
            Real Time(Refresh once a minute)
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="off" value="option2">
        <label class="form-check-label" for="off">
            History(Last 2 month)
        </label>
    </div>
</div>
<div id="niu" style="height: 50%;width: 100%;transform: rotate(90deg);"></div>
<div id="hu" style="height: 50%;width: 100%;transform: rotate(90deg);"></div>
<link rel="stylesheet" href="stylesheet/bootstrap.css" type="text/css"/>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
    var dom = document.getElementById("niu");
    var myChart = echarts.init(dom, 'dark');

    var dom_hu = document.getElementById("hu");
    var myChart_hu = echarts.init(dom_hu, 'dark');
    var hook = null;
    var interval = 30000;

    /**
     * @return {boolean}
     */
    function IsPC() {
        var userAgentInfo = navigator.userAgent;
        var Agents = ["Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod"];
        var flag = true;
        for (var v = 0; v < Agents.length; v++) {
            if (userAgentInfo.indexOf(Agents[v]) > 0) {
                flag = false;
                break;
            }
        }
        return flag;
    }


    function show() {
        $.get("../data/niu_data", function (data) {
            data = JSON.parse(data);
            times = [];
            rows = [];
            for (i = data.length - 1; i > -1; i--) {
                times.push(data[i][0]);
                rows.push(data[i][1]);
            }

            times.push('init');
            rows.push(0);

            var app = {};
            option = {
                xAxis: {
                    type: 'category',
                    data: times
                },
                yAxis: {
                    type: 'category'
                },
                tooltip: {
                    trigger: 'axis',
                    formatter: function (params) {
                        params = params[0];
                        return params.name + ' : ' + params.value;
                    },
                    axisPointer: {
                        animation: false
                    }
                },
                animation: false,
                dataZoom: [
                    {
                        show: true,
                        realtime: true,
                        start: 99.5,
                        end: 100
                    },
                    {
                        type: 'inside',
                        realtime: true,
                        start: 99.5,
                        end: 100
                    }
                ],
                series: [{
                    data: rows,
                    type: 'line',
                    symbolSize: 4,
                    showAllSymbol: true
                }]
            };
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
        });

        $.get("../data/hu_data", function (data) {
            data = JSON.parse(data);
            times = [];
            rows = [];
            for (i = data.length - 1; i > -1; i--) {
                times.push(data[i][0]);
                rows.push(data[i][1]);
            }

            times.push('init');
            rows.push(0);
            var app = {};
            option = {
                xAxis: {
                    type: 'category',
                    data: times
                },
                tooltip: {
                    trigger: 'axis',
                    formatter: function (params) {
                        params = params[0];
                        return params.name + ' : ' + params.value;
                    },
                    axisPointer: {
                        animation: false
                    }
                },
                animation: false,
                dataZoom: [
                    {
                        show: true,
                        realtime: true,
                        start: 99.5,
                        end: 100
                    },
                    {
                        type: 'inside',
                        realtime: true,
                        start: 99.5,
                        end: 100
                    }
                ],
                yAxis: {
                    type: 'category'
                },
                series: [{
                    data: rows,
                    type: 'line',
                    symbolSize: 4,
                    showAllSymbol: true
                }]
            };
            if (option && typeof option === "object") {
                myChart_hu.setOption(option, true);
            }
        });
    }

    $('#on').click(function () {
        // refresh once
        show();
        if (!hook) {
            hook = setInterval(show, interval);
        }
    });

    $('#off').click(function () {
        if (hook) {
            clearInterval(hook);
            hook = null;
        }
    });

    show();
    hook = setInterval(show, interval)
</script>
</body>
</html>